* {
box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #F2F3F4;
}

li {
  list-style: none;
}

label {
  display: block;
}

h4 {
  margin: 20px 0 0 0;
}

input {
  display: block;
  height: 10px;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
}

.buttons-edit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.buttons-edit > button {
  width: 70px;
}